{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <div class="card mx-auto justify-content-center" style="width: 75%;">
        <div class="card-body">
        <h2 class="text-center">Find Any Books Here!</h2>
            <div class="book_input text-center">
                    <input type="text" id="book_input" placeholder="Enter the title..." >
                    <button class="btn btn-outline-primary" onclick="search()">Search</button>
            </div>
            <table class="table text-center">
                <thead>
                        <th scope="col" class="align-middle">No.</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Author/s</th>
                        <th scope="col" class="align-middle">Publisher</th>
                        <th scope="col" class="align-middle">Publication's Date</th>
                </thead>
                <tbody id="current"></tbody>
            </table>
        </div>
    </div>
{% endblock %}