{% extends 'base.html' %}
{% load static %}

{% block contents %}

<div class="card mx-auto justify-content-center">
<br></br>
    <h2 class="text-center">Accordion Things</h2>
        <div class="card-body">
                <div class="accordion activities">
                    <div class="accordion-bar">
                    <h4> Aktivitasku Saat Ini <a href="#"class="up">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg></a>
                    <a href="#"class="down"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg></a>
                    </h4>
                    </div>
                    <div class="content">
                        <p>menangis</p>
                    </div>
                </div>
                <div class="accordion exp">
                    <div class="accordion-bar">
                    <h4>Pengalamanku <a href="#"class="up">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg></a>
                    <a href="#"class="down"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg></a>
                    </h4>
                    </div>
                    <div class="content">
                        <p>VPO OH Pacil</p>
                        <p>Staf BEM Humazzz</p>
                    </div>
                </div>
                <div class="accordion achievement">
                    <div class="accordion-bar">
                    <h4>Prestasikuuu <a href="#"class="up">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg></a>
                    <a href="#"class="down"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg></a>
                    </h4>
                    </div>
                    <div class="content">
                        <p>404 not found</p>
                        <p>mohon doanya</p>
                    </div>
                </div>
                <div class="accordion fav">
                    <div class="accordion-bar">
                    <h4>Lagu Favorit <a href="#"class="up">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg></a>
                    <a href="#"class="down"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg></a>
                    </h4>
                    </div>
                        <div class="content">
                        <p>Can't Say - Trevis sekut</p>
                        <p>Rise and Shine - Kayleeh jenner</p>
                        <p>DNA - Kendrick</p>
                        </div>
                </div>
        </div>
</div>
{% endblock contents%}
 



