{% load static %}
<!DOCTYPE html>
<br lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>   
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Storynya Astrid</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Astrid Diany</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Accordion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log/">Log In</a>
      </li>
</nav>
    {%block contents%}
  
    {% endblock contents%}

    <script src="{%static 'js/accord.js' %}"></script>
</body>

<style>
.card{
    color: white;
background-color: rgba(217,188,183);
  border-radius: 20px;
  box-shadow: -1px 2px 25px rgba(255,218,185,.08) !important;
  width: 50%;
  height: auto;
}

body{
    background-color: rgba(205,160,154);
}
.accordion-bar{
    background-color: rgba(181,119,112);
    color: white;
    font-weight: 700;
    font-size: 1.5vw;
    padding: 2%;
    border: 1.5px solid;
    border-color: #ccc;
    border-radius: 5px;
    margin-bottom:2%;
}

a{
    color: white;
}

a:hover{
    color: rgba(232,218,214);
}
.accordion-bar:hover{
  color: rgba(232,218,214);
}

</style>

</br>