{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="card mx-auto justify-content-center" style="width: 50%;">
<div class="card-body">
    <h1 align="center">Sign Up</h1>
    <form class="signup-form" action="/log/signup/" method="post">
        {% csrf_token %} 
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in formSignUp %}
                   <br> {{ fields.label_tag }} 
                   {{fields}} 
                   <br>
                    {{fields.errors|striptags}}
                {% endfor %}
                <br>
        <input type="submit" class="btn btn-outline-success" value="Sign Up">
        </form>
</div></div>
</div>
{% endblock %}
