{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="card mx-auto justify-content-center" style="width: 50%;">
<div class="card-body">
    <h1 align="center">Log In</h1>
    <form class="login-form" action="/log/login/" method="post">
        {% csrf_token %} 
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in formLogIn %}
                    <br>
                    {{ fields.label_tag }}
                    {{fields}}
                {% endfor %}
        </form>
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"> 
        {% endif %}
        <input type="submit" class="btn btn-outline-primary" value="Log In">
    <div class="signupbtn">
        <p>Don't have account? <a href="/log/signup/" name="buttonsignup" class="btn btn-link"
                role="button" aria-pressed="true">Sign Up</a></p>
    </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}
