{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="card mx-auto justify-content-center" style="width: 50%;">
<div class="card-body">
    <div class="d-flex justify-content-center">
        <h1>Welcome {{ user }}!</h1>
    </div>
    <form class="logout-link" action="/log/logout/" method="post">
        {% csrf_token %}
       <div class="float-right"> <button class="btn btn-outline-dark" type="submit">Sign Out</button></div>
    </form>
    </div>
</div>
{% endblock %}